/*
+----------------------------------------------------------------+
	Reset CSS
+----------------------------------------------------------------+
*/
body,div,ul,ol,h1,h2 {margin:0; padding:0}
img {border: 0}
li {
	list-style: none;
	margin: 0;
	padding: 0
}
a {
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none
}

/*
+----------------------------------------------------------------+
	Extras
+----------------------------------------------------------------+
*/
.cf:before, .cf:after {
	content:" ";
	display: table
}
.cf:after {clear:both}
.clear {clear:both}

/*
+----------------------------------------------------------------+
    Fonts
+----------------------------------------------------------------+
*/
@font-face {
    font-family: 'OratorpraOi-TextTwo';
        src:  url('fonts/oratorpraoitext2.eot');
        src:  url('fonts/oratorpraoitext2.eot?#iefix') format('embedded-opentype'),
              url('fonts/oratorpraoitext2.woff') format('woff'),
              url('fonts/oratorpraoitext2.ttf') format('truetype'),
              url('fonts/oratorpraoitext2.svg#oratorpraoitext2') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
+----------------------------------------------------------------+
	Definicoes Gerais
+----------------------------------------------------------------+
*/
body {
    background-color: #2D2C30;
    color: #eaeaea;
    font:62.5% Verdana, Geneva, sans-serif
}
h1 {
    font: 3.8em 'OratorpraOi-TextTwo';
    margin: 50px 0;
    text-align: center
}

/*
+----------------------------------------------------------------+
	Slideshow
+----------------------------------------------------------------+
*/
.slider {
    margin: 0 auto;
    width: 990px
}

.slider-container {
    height: 425px;
    margin: 0 auto 20px;
    overflow: hidden;
    position: relative;
    width: 990px;
}

.slider-container .slider-warpper {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 5000em; /*Fix for prevent display errors*/

    -webkit-transition: all 800ms ease;
       -moz-transition: all 800ms ease;
         -o-transition: all 800ms ease;
            transition: all 800ms ease;
}

.slider-container .slide {
    float: left;
    height: 425px;
    overflow: hidden;
    position: relative;
    width: 990px;
}

.slider-nav {
    text-align: center;
    width: 990px;
}

.slider-nav li {
    display: inline;
    padding: 3px;
}

.slider-nav .bullet {
    background-color: #59baa8;
    border-radius: 50%;
    display: inline-block;
    text-indent: -9000px;
    overflow: hidden;
    height: 16px;
    width: 16px;
}

.slider-nav .active {
    background-color: #e7433b
}

.slider-nav .prev, .slider-nav .next {
    background: url('img/sprite.png') no-repeat;
    display: inline-block;
    text-indent: -9000px;
    overflow: hidden;
    height: 16px;
    width: 16px;
}

.slider-nav .next {
    background-position: -15px top
}
